doctype html
//-html(manifest='manifest.appcache')
html
  include partials/head.jade

  body
    block content
    script(src="http://www.airconsole.com/api/airconsole-1.2.1.js")
    script(src='new-project.js')
